<div class="text-center">
	<h1>Welcome to Mobius Bitcoin Demo</h1>
	<h5>Sign up for a new account</h5>
	<a href="/users/sign_up">Sign Up</a>
	<h5>Log in to your account</h5>
	<a href="/users/sign_in">Log In</a>
</div>